---
import Card from './Card.astro';

const cards = [
  { imageUrl: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg8Cr2fB5-nU8jR7-us3hrq-K3AGHA24s9bQ&s', text: 'Ciberseguridad', descripcion: 'ahora de ciberseguridad' },
  { imageUrl: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg8Cr2fB5-nU8jR7-us3hrq-K3AGHA24s9bQ&s', text: 'Dise침o (UI/UX, Gr치fico, de Interiores)' , descripcion: 'ahora de ciberseguridad' },
  { imageUrl: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg8Cr2fB5-nU8jR7-us3hrq-K3AGHA24s9bQ&s', text: 'Desarrollo de videojuego', descripcion: 'ahora de ciberseguridad'  },
  { imageUrl: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg8Cr2fB5-nU8jR7-us3hrq-K3AGHA24s9bQ&s', text: 'Desarrollo AR', descripcion: 'ahora de ciberseguridad'  },
  { imageUrl: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg8Cr2fB5-nU8jR7-us3hrq-K3AGHA24s9bQ&s', text: 'Desarrollo M칩vil', descripcion: 'ahora de ciberseguridad'  },
  { imageUrl: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg8Cr2fB5-nU8jR7-us3hrq-K3AGHA24s9bQ&s', text: 'Desarrollo Backend', descripcion: 'ahora de ciberseguridad'  },
  { imageUrl: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg8Cr2fB5-nU8jR7-us3hrq-K3AGHA24s9bQ&s', text: 'An치lisis de Datos', descripcion: 'ahora de ciberseguridad'  },
  { imageUrl: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg8Cr2fB5-nU8jR7-us3hrq-K3AGHA24s9bQ&s', text: 'Desarrollo Frontend', descripcion: 'ahora de ciberseguridad'  },
  { imageUrl: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg8Cr2fB5-nU8jR7-us3hrq-K3AGHA24s9bQ&s', text: 'Proyecto de pila completa' , descripcion: 'ahora de ciberseguridad' },
];
---
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-8">
  {cards.map((card, index) => (
    <Card 
      imageUrl={card.imageUrl} 
      text={card.text} 
      reverse={index % 2 !== 0} 
    />
  ))}
</div>
