<h2>Mis proyectos</h2>
<img class="h-auto max-w-full transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:grayscale-0" src="https://starkcloud.com/wp-content/uploads/2025/01/Que-es-Ciberseguridad.webp" alt="image description">
<h4 class="text-6xl text-gray-900 dark:text-white">Ciberseguridad</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam!</p>
<img class="h-auto max-w-full transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:grayscale-0" src="https://starkcloud.com/wp-content/uploads/2025/01/Que-es-Ciberseguridad.webp" alt="image description">
<h4 class="text-6xl text-gray-900 dark:text-white">Diseño(UI/UX, Grafico,Interiores y Pixelar)</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam!</p>
<img class="h-auto max-w-full transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:grayscale-0" src="https://starkcloud.com/wp-content/uploads/2025/01/Que-es-Ciberseguridad.webp" alt="image description">
<h4 class="text-6xl text-gray-900 dark:text-white">Ciberseguridad</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam!</p>
<img class="h-auto max-w-full transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:grayscale-0" src="https://starkcloud.com/wp-content/uploads/2025/01/Que-es-Ciberseguridad.webp" alt="image description">
<h4 class="text-6xl text-gray-900 dark:text-white">Ciberseguridad</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam!</p>

